# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
### Assignment 1: Creating and Accessing Tuples

# Create a tuple with the first 10 positive integers. Print the tuple.

numbers=(1,2,3,4,5,6,7,8,9,10)
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
### Assignment 2: Accessing Tuple Elements

# Print the first, middle, and last elements of the tuple created in Assignment 1.

first,*middle,last= numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [9]:
### Assignment 3: Tuple Slicing

# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(numbers[0:3])
print(numbers[-3:])
print(numbers[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [11]:
### Assignment 4: Nested Tuples

# Create a nested tuple representing a 3x3 matrix and print the matrix. 
# Access and print the element at the second row and third column.

nested_tpl=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in nested_tpl:
    for element in row:
        print(element,end=" ")
    print()
    
print(nested_tpl[1][2])

1 2 3
4 5 6
7 8 9
6

In [12]:
### Assignment 5: Tuple Concatenation

# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tpl_1=(1,2,3)
tpl_2=(4,5,6)

conct_tpl=tpl_1+tpl_2

print(conct_tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [14]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)

print(tpl.count(2))
print(tpl.index(4))

2
4

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [15]:
mixed_tpl=(1,"gaurav",3.21,True,"e")

a,b,c,d,e=mixed_tpl

print(a)
print(b)
print(c)
print(d)
print(e)

1
gaurav
3.21
True
e

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [16]:
lst=[1,2,3,4,5]

print(tuple(lst))

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [17]:
nested_tpl=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in nested_tpl:
    for element in row:
        print(element,end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
tpl=(1,2,3,4,5)

lst=list(tpl)
lst.append(6)

new_tpl=tuple(lst)
print(new_tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [19]:
tpl=('G','A','U','R','A','V')

for i in tpl:
    print(i,end="")

GAURAV

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary

In [20]:
dict_tpl={
    (1,2,3):4,
    (2,4):8,
    (9,10,11):12
}

print(dict_tpl)

{(1, 2, 3): 4, (2, 4): 8, (9, 10, 11): 12}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [22]:
for row in nested_tpl:
    for element in row:
        print(element,end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [1]:
duplicate_tpl=(1,2,2,3,3,3,4,5)

res_set=set(duplicate_tpl)
print(res_set)

{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
tpl=(1,2,3,4,5)

sum=0

for i in tpl:
    sum = sum+i

print(min(tpl))
print(max(tpl))
print(sum)

1
5
15